@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  background-color: #fafafa;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #0075ed;
}

.cj-container {
  margin: 0 auto;
  width: 80em;
  max-width: 90%;
}

.cj-nav {
  background-color: #0075ed;
}

.cj-nav a {
  color: white;
}

.cj-nav .pure-menu-link:hover {
  background-color: #005ebb;
}

.cj-nav .pure-menu-link:focus {
  background-color: inherit;
}

.pure-menu-heading {
  text-transform: inherit;
  font-weight: bold;
}

@media screen and (min-width: 38em) {
  /* Desktop */
  ul.pure-menu-list {
    float: right;
  }
}

.cj-content {
  padding: 0 1em;
}

.cj-breadcrumb {
  margin: 1em 0;
}
