.cj-workflow-task {
  margin: 1em 0;
  border-radius: 0.75em;
  background: #f8f8f8;
  padding: 1em;
}

.cj-workflow-task-arrow {
  text-align: center;
  font-size: 2em;
  line-height: 0.5em;
}

.cj-workflow-task-id {
  font-weight: bold;
}

.cj-workflow-task-id::before {
  width: 4em;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.5;
  content: "ID: ";
}

.cj-workflow-task-image::before {
  width: 4em;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.5;
  content: "Image: ";
}

.cj-workflow-task-script {
  margin: 1em 0.5em;
  padding: 1em;
  background: #f3f3f3;
  font-size: 1.1em;
  font-family: monospace;
  white-space: pre;
  overflow-x: scroll;
  overflow: auto;
  line-height: 1.2;
}
