@import "https://rsms.me/inter/inter.css";

/* src/App.css */
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #0075ed;
}
.cj-container {
  margin: 0 auto;
  max-width: 58rem;
}
.cj-nav {
  border-bottom: 1px solid #eee;
}
.cj-nav a {
  color: black;
}
.pure-menu-heading {
  text-transform: inherit;
  font-weight: bold;
}
@media screen and (min-width: 38em) {
  ul.pure-menu-list {
    float: right;
  }
}
.cj-content {
  padding: 0 1em;
  overflow-x: scroll;
}
.cj-breadcrumb {
  margin: 1em 0;
}
